body, html {
    margin: 0;
    padding: 0;
}

form {
    width: 100%;
    max-width: 400px; /* Ajusta según el tamaño deseado para el formulario */
    margin: 0 auto; /* Centra el formulario horizontalmente */
}

.password-container {
    position: relative;
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido dentro del contenedor */
    width: fit-content; /* Ajusta el ancho del contenedor al contenido del input */
}

.input-contraseña {
    min-width: 200px; /* Establece un ancho mínimo inicial */
    width: auto; /* Permite que el input se ajuste automáticamente */
    padding-right: 40px; /* Espacio para el icono */
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
}

.emoji-ojo {
    position: absolute;
    right: 10px; /* Ajusta el espaciado desde el borde derecho del input */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
    font-size: 1.2em; /* Ajusta el tamaño del icono según sea necesario */
    z-index: 1; /* Asegura que el icono esté por encima del input */
}
