body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mi-div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 55vh; 
}

.imagen-coudy {
    background-image: url('../img/coudy.png');
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;
    width: 28.83vw;
    height: 55vh;
}

.texto-presentacion {
    display: flex;
    justify-content: center;
    margin: 13px 0;
    font-size: 5vw;
}

.div-botones {
    display: flex;
    justify-content: flex-end;
    width: 100%; 
    position: absolute;
    margin-top: -85vh;
    margin-right: 4.5vw
}

.boton-crearCuenta {
    cursor: pointer;
    width: 15vw;
    height: 8vh;
    font-size: 2em;
    text-align: center;
    background: none;
}