body{
    background-color: #6E5293;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-registro{
    background-color: #8F8DEE;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    border: none;
    border-radius: 0.3em;
    width: 16.67vw;
    height: 9.44vh;
    margin-left: 81vw;
    margin-top: 13vh;
    font-size: 1.5em;
    position: absolute;
    cursor: pointer;
} .btn-inicio{
    background: none;
    border: none;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 1.5em;
    position: absolute;
    margin-left: 45vw;
    cursor: pointer;
    margin-top: 13vh;
} .imagen{
    background-image: url(../img/coudy.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 16.2vw;
    height: 57.6vh;
} section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 17vw;
    height: 80vh;
    text-align: center;
    margin-top: 110vh;
    position: absolute;
} .coudy{
    font-family: "Josefin Sans", sans-serif;
    color: #FFFFFF;
    font-size: 3em;
}

/* Fonts: */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}