body{
    overflow: hidden;
    background-color: #A89AB9;
}

.isla-html{
    background-image: url(../img/isla\ HTML.png);
    width: 25vw;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    margin-left: 7vw;
    margin-top: 18vh;
    cursor: pointer;
} .isla-html:hover{
    background-image: url(../img/isla-html-hover.png);
    margin-left: 3vw;
    margin-top: 16vh;
    width: 60vw;
    height: 60vh;
}

.isla-css{
    background-image: url(../img/isla\ CSS.png);
    width: 30vw;
    position: absolute;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 37vw;
    margin-top: 18vh;
    cursor: not-allowed;
}

.isla-js{
    background-image: url(../img/isla\ JS.png);
    width: 50vw;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    margin-left: 70vw;
    margin-top: 18vh;
    cursor: not-allowed;
}

html, body {
    margin: 0;
    padding: 0;
}

.candado-js{
    margin-left: 76vw;
    margin-top: 28vh;
    background-image: url(../img/candado-js.png);
    background-size: cover;
    width: 10vw;
    position: absolute;
    cursor: not-allowed;
    height: 30vh;
} .candado-css{
    margin-top: 25vh;
    margin-left: 42.5vw;
    background-image: url(../img/candado-css.png);
    background-size: cover;
    width: 12vw;
    position: absolute;
    height: 34vh;
    cursor: not-allowed;
}

/* Animacion CSS */
@keyframes romperCandadoCSS {
    0%{
        background-image: url(../img/candado-css.png);
    } 15%{
        background-image: url(../img/candadoRoto-css.png);
        height: 36vh;
    } 25%{
        background-image: url(../img/candadoRoto2-css.png);
    } 35%{
        background-image: url(../img/candadoRoto3-css.png);
    } 80%{
        margin-top: 50vh;
        opacity: 0;
        background-image: url(../img/candadoRoto3-css.png);
        background-size: contain;
    } 100%{
        bottom: -100vh;
        background: none;
    }
}
.romperCandadoCss{
    animation: romperCandadoCSS 7s ease forwards;
}
.islaC:hover{
    background-image: url(../img/isla-css-hover.png);
    width: 40vw;
    height: 60vh;
    margin-top: 13vh;
    margin-left: 33vw;
}
.mantener{
    bottom: -100vh;
    background: none;
}

/* Animacion JS */
@keyframes romperCandadoJS {
    0%{
        background-image: url(../img/candado-js.png);
    } 15%{
        background-image: url(../img/candadoRoto-js.png);
    } 25%{
        background-image: url(../img/candadoRoto2-js.png);
    } 35%{
        background-image: url(../img/candadoRoto3-js.png);
    } 80%{
        margin-top: 50vh;
        opacity: 0;
        background-image: url(../img/candadoRoto3-js.png);
        background-size: contain;
    } 100%{
        bottom: -100vh;
        background: none;
    }
}
.romperCandadoJs{
    animation: romperCandadoJS 7s ease forwards;
}
.islaJ:hover{
    background-image: url(../img/isla-js-hover.png);
    width: 40vw;
    height: 50vh;
    margin-top: 17vh;
    margin-left: 68vw;
}

.mi-div {
    width: 100%;
    height: 12vh;
    background-color: #6E5293;
    position: relative;
    z-index: 0;
}

.texto{
    font-size: 2.5em;
    font-weight: bold;
    top: -5vh;
    margin-left: 8vw;
    position: absolute;
    z-index: 10;
    font-family: "Josefin Sans", sans-serif;
    color: #FFFFFF;
}

.caraCoudy{
    background-image: url(../img/cara-coudy.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 10vw;
    z-index: 12;
    height: 10vh;
    margin-top: 1vh;
    margin-left: 1.5vw;
    position: absolute;
}

.image-circle {
    width: 5vw;
    height: 10vh;
    border-radius: 50%;
    background-image: url('../img/image.png');
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border: 2px solid #ccc;
    background-color: rgb(253, 231, 231);
    right: 1.5vw;
    top: 0.7vh;
    position: absolute;
    z-index: 10;
}

#file-input {
    display: none;
}

.nombreUsuario {
    right: 8vw;
    font-size: 2em;
    top: -2vh;
    position: absolute;
    z-index: 10;
    font-family: "Josefin Sans", sans-serif;
    color: #FFFFFF;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(65,39,98,0.75);
}

.modal-content {
    background-color: #432866;
    margin: 8% auto;
    padding: 20px;
    width: 55vw;
    height: 60vh;
}

.mas-txt, .felicidades{
    color: #FFFFFF;
    font-family: "Josefin Sans", sans-serif;
    position: absolute;
} .mas-txt{
    font-size: 1.6em;
    margin-top: 24%;
    margin-left: 12%;
} .felicidades{
    font-size: 3em;
    margin-left: 16%;
    margin-top: 1%;
    font-weight: bold;
}

.imagenCoudy{
    background-image: url(../img/coudy.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 10vw;
    height: 30vh;
    margin-top: 6%;
    margin-left: 23%;
}

.festejo1{
    background-image: url(../img/felicidades-izquierda.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 5vw;
    height: 10vh;
    margin-left: 1%;
    margin-top: 23%;
} .festejo2{
    background-image: url(../img/felicidades-derecha.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 5vw;
    height: 10vh;
    margin-left: 50%;
    margin-top: 23%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }