html, body {
    margin: 0;
    padding: 0;
    background-color: #5C74D8;
    overflow: hidden;
    z-index: -1000000;
}

.mi-div {
    width: 100%;
    height: 12vh;
    background-color: #5C74D8;
    position: relative;
    z-index: 0;
}

.caraCoudy{
    background-image: url(../../img/cara-coudy.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 10vw;
    z-index: 12;
    height: 10vh;
    margin-top: 1vh;
    margin-left: 1.5vw;
    position: absolute;
}

.image-circle {
    width: 5vw;
    height: 10vh;
    border-radius: 50%;
    background-image: url('../../img/image.png');
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border: 2px solid #ccc;
    background-color: rgb(253, 231, 231);
    right: 1.5vw;
    top: 0.7vh;
    position: absolute;
    z-index: 10;
}

#file-input {
    display: none;
}

.nombreUsuario {
    right: 8vw;
    font-family: "Josefin Sans", sans-serif;
    color: #FFFFFF;
    font-size: 2em;
    top: -2vh;
    position: absolute;
    z-index: 10;
}

.html-ti{
    position: absolute;
    z-index: 10000;
    font-family: "Josefin Sans", sans-serif;
    color: #FFFFFF;
    margin-left: 10vw;
    font-size: 2.6em;
    margin-top: 2.5vh;
}

.teoria{
    position: absolute;
    z-index: 10000;
    color: #FFFFFF;
    opacity: 75%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.3em;
    margin-left: 22vw;
    margin-top: 5vh;
}

.anterior{
    background-color: #575C7D;
    border: none;
    border-radius: 0.4em;
    width: 9vw;
    margin-left: 1.5vw;
    position: absolute;
    margin-top: 0.5vh;
    cursor: pointer;
    height: 7vh;
} .texto-Anterior{
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    margin-left: 2vw;
} .flecha-Anterior{
    background-image: url(../../img/vector-anterior.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1vw;
    height: 3vh;
    position: absolute;
    margin-top: -2.8vh;
    margin-left: 0.6vw;
}

.siguiente{
    background-color: #575C7D;
    border: none;
    border-radius: 0.4em;
    width: 9vw;
    margin-top: 0.5vh;
    margin-left: 33vw;
    position: absolute;
    cursor: not-allowed;
    transition: transform 0.2s;
    height: 7vh;
} .texto-Siguiente{
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    margin-left: -2vw;
} .flecha-Siguiente{
    background-image: url(../../img/vector-siguiente.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1vw;
    height: 3vh;
    position: absolute;
    margin-top: -0.2vh;
    margin-left: 6.5vw;
} 

.txt{
    font-family: "Josefin Sans", sans-serif;
    color: #FFFFFF;
    font-size: 1.5em;
    width: 43vw;
    margin-top: 1vh;
    margin-left: 1vw;
}
ul{
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.3em;
    width: 40vw;
    margin-top: 3vh;
    margin-left: 2vw;
    color: #FFFFFF;
} .negro{ font-weight: bold; } .colorsito{ color: #273672; font-weight: bold; }

.relleno{
    background-color: #D9D9D9;
    width: 39vw;
    display: flex;
    margin-left: 3vw;
    margin-top: 3vh;
    height: 26vh;
} .column{
    background-color: #999999;
    color: #E0E0E0;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.3em;   
    width: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
} ol{
    margin-left: -0.7vw;
    margin-top: 4vh;
} .contenedor{
    font-family: "Josefin Sans", sans-serif;
    color: #999999;
    font-size: 1.1em;
    margin-left: 1vw;
} .display{
    font-family: "Josefin Sans", sans-serif;
    color: #999999;
    font-size: 1.1em;
    margin-left: 5vw;
    margin-top: 6vh;
    position: absolute;
} .pt2{
    position: absolute;
    margin-left: 3.5vw;
    margin-top: 13vh;
} #code{
    border: none;
    width: 20vw;
    height: 3vh;
    position: absolute;
    margin-left: 5vw;
    margin-top: 9.5vh;
}

.trabajo{
    background-color: #495EB7;
    border: 0.35em solid #999999;
    height: 86vh;
    width: 55vw;
    margin-left: 44.2vw;
    margin-top: -71.5vh;
    position: absolute;
    display: flex;
} .imagen{
    background-image: url(../../img/img-flexbox-1.png);
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
    width: 13vw;
    height: 13vh;
    margin-top: 2vh;
    margin-left: 2.5vw;
    margin-bottom: 2vh;
    z-index: 9999;
} .imagen2{
    background-image: url(../../img/img-flexbox-2.png);
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
    width: 13vw;
    height: 13vh;
    margin-top: 2vh;
    margin-left: 2.5vw;
    margin-bottom: 2vh;
    z-index: 9999;
} .imagen3{
    background-image: url(../../img/img-flexbox-3.png);
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
    width: 13vw;
    height: 13vh;
    margin-top: 2vh;
    margin-left: 2.5vw;
    margin-bottom: 2vh;
    z-index: 9999;
} .cuadrado{
    background-color: #2A3C89;
    width: 10vw;
    margin-top: -69.5vh;
    margin-left: 45vw;
    height: 15vh;
    z-index: 1;
    position: absolute;
} .cuadrado2{
    background-color: #AA9657;
    width: 10vw;
    margin-top: -52.5vh;
    margin-left: 45vw;
    height: 15vh;
    z-index: 1;
    position: absolute;
} .cuadrado3{
    background-color: #83344D;
    width: 10vw;
    margin-top: -35.5vh;
    margin-left: 45vw;
    height: 15vh;
    z-index: 1;
    position: absolute;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(40deg);
        transform: scale(1.1);
    }
    100% {
        transform: rotate(20deg);
        transform: scale(1);
    }
}

.pulse {
    animation: pulse-animation 1s ease-in-out;
}
  
@keyframes animation-loop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.pulse-loop {
    animation: animation-loop 0.5s ease-in-out infinite;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
}

.shake {
    animation: shake 0.3s ease-in-out;
}

/* MODIFICACIONES DE LUGAR */
.JUScentrar { justify-content: center; }
.JUSend { justify-content: flex-end; }
.JUSstart { justify-content: flex-start; }
.JUSaround { justify-content: space-around; }
.JUSbetween { justify-content: space-between; }
.JUSevenly { justify-content: space-evenly; }
.ALIGcentrar { align-items: center; }
.ALIGend { align-items: flex-end; }
.ALIGstart { align-items: flex-start; }
.ALIGbaseline { align-items: baseline; }
.ALIGstrech { align-items: stretch; }
.FLEXrow { flex-direction: row; }
.FLEXrow-reverse { flex-direction: row-reverse; }
.FLEXcolumn { flex-direction: column; }
.FLEXcolumn-reverse { flex-direction: column-reverse; }

/* Fonts: */
.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}