body{
    overflow: hidden;
    background-color: #A89AB9;
    padding: 0;
    margin: 0;
}

.isla-html{
    background-image: url(../img/isla\ HTML.png);
    width: 50vw;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    margin-left: 3vw;
    margin-top: 18vh;
    cursor: pointer;
} .isla-html:hover{
    background-image: url(../img/isla-html-hover.png);
    margin-left: 1vw;
    margin-top: 18vh;
    width: 55vw;
    height: 55vh;
}

.isla-css{
    background-image: url(../img/isla\ CSS.png);
    width: 30vw;
    position: absolute;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 37vw;
    cursor: pointer;
    margin-top: 18vh;
} .isla-css:hover{
    background-image: url(../img/isla-css-hover.png);
    margin-left: 33vw;
    margin-top: 17vh;
    height: 55vh;
    width: 42vw;
}

.isla-js{
    background-image: url(../img/isla\ JS.png);
    width: 50vw;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    margin-left: 70vw;
    margin-top: 18vh;
    cursor: pointer;
} .isla-js:hover{
    background-image: url(../img/isla-js-hover.png);
    margin-left: 66vw;
    margin-top: 18vh;
    width: 52vw;
    height: 52vh;
}


.mi-div {
    width: 100%;
    height: 12vh;
    background-color: #6E5293;
    position: relative;
    z-index: 0;
}

.image-circle {
    width: 5vw;
    height: 10vh;
    border-radius: 50%;
    background-image: url('../img/image.png');
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border: 2px solid #ccc;
    background-color: rgb(253, 231, 231);
    right: 1.5vw;
    top: 0.7vh;
    position: absolute;
    z-index: 10;
}

#file-input {
    display: none;
}

.texto{
    font-size: 2.5em;
    font-weight: bold;
    top: -5vh;
    margin-left: 8vw;
    position: absolute;
    z-index: 10;
    font-family: "Josefin Sans", sans-serif;
    color: #FFFFFF;
}

.caraCoudy{
    background-image: url(../img/cara-coudy.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 10vw;
    z-index: 12;
    height: 10vh;
    margin-top: 1vh;
    margin-left: 1.5vw;
    position: absolute;
}

.nombreUsuario {
    right: 8vw;
    font-size: 2em;
    top: -2vh;
    position: absolute;
    z-index: 10;
    font-family: "Josefin Sans", sans-serif;
    color: #FFFFFF;
}

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }