body{
    overflow: hidden;
    background-color: #A89AB9;
}

.isla-html{
    background-image: url(../img/isla\ HTML.png);
    width: 50vw;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    margin-left: 3vw;
    margin-top: 18vh;
    cursor: pointer;
} .isla-html:hover{
    background-image: url(../img/isla-html-hover.png);
    margin-left: 1vw;
    margin-top: 18vh;
    width: 55vw;
    height: 55vh;
}

.isla-css{
    background-image: url(../img/isla\ CSS.png);
    width: 30vw;
    position: absolute;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 37vw;
    cursor: pointer;
    margin-top: 18vh;
} .isla-css:hover{
    background-image: url(../img/isla-css-hover.png);
    margin-left: 33vw;
    margin-top: 17vh;
    height: 55vh;
    width: 42vw;
}

.isla-js{
    background-image: url(../img/isla\ JS.png);
    width: 50vw;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    margin-left: 70vw;
    margin-top: 18vh;
    cursor: pointer;
} .isla-js:hover{
    background-image: url(../img/isla-js-hover.png);
    margin-left: 66vw;
    margin-top: 18vh;
    width: 52vw;
    height: 52vh;
}