:root{  --font: "Josefin Sans", sans-serif;   }
body{ background-color: #A89AB9; }
.signUp{
    font-family: var(--font);
    color: #FFFFFF;
    text-decoration: underline;
    font-size: 2.3em;
    text-align: center;
    margin-top: 8vh;
} input{
  background-color: #FFFFFF;
  border: 0.2em solid #614881;
  width: 30vw;
  height: 8vh;
  font-family: var(--font);
  font-size: 1.5em;
  margin-bottom: 5vh;
} .btn-volver{
  border: 0.25em solid #614881BF;
  background-color: #E7D2FF;
  border-radius: 50%;
  margin-top: 20vh;
  margin-left: 2vw;
  width: 5vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  cursor: pointer;
} .flecha{
  background-image: url(../img/Vector.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 5.5vw;
  height: 5.5vh;
  margin-left: 3.5vw;
} .inputs{
  display: flex;
  flex-direction: column;
  margin-left: 35vw;
  margin-top: 8vh;
} .boton-aceptar{
  background-color: #E7D2FF;
  color: #574370;
  border: none;
  width: 38vw;
  height: 15vh;
  font-family: var(--font);
  font-size: 3em;
  position: absolute;
  margin-left: 31.5vw;
  cursor: pointer;
  margin-top: 3vh;
}


.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }