html, body {
    margin: 0;
    padding: 0;
    background-color: #E48056;
}

.mi-div {
    width: 100%;
    height: 12vh;
    background-color: #EF7039;
    position: relative;
    z-index: 0;
}

.caraCoudy{
    background-image: url(../../img/cara-coudy.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 10vw;
    z-index: 12;
    height: 10vh;
    margin-top: 1vh;
    margin-left: 1.5vw;
    position: absolute;
}

.image-circle {
    width: 5vw;
    height: 10vh;
    border-radius: 50%;
    background-image: url('../../img/image.png');
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border: 2px solid #ccc;
    background-color: rgb(253, 231, 231);
    right: 1.5vw;
    top: 0.7vh;
    position: absolute;
    z-index: 10;
}

#file-input {
    display: none;
}

.nombreUsuario {
    right: 8vw;
    font-family: "Josefin Sans", sans-serif;
    color: #FFFFFF;
    font-size: 2em;
    top: -2vh;
    position: absolute;
    z-index: 10;
}

.html-ti{
    position: absolute;
    z-index: 10000;
    font-family: "Josefin Sans", sans-serif;
    color: #FFFFFF;
    margin-left: 10vw;
    font-size: 2.6em;
    margin-top: 2.5vh;
}

.teoria{
    position: absolute;
    z-index: 10000;
    color: #FFFFFF;
    opacity: 75%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.3em;
    margin-left: 22vw;
    margin-top: 5vh;
}

.anterior{
    background-color: #D25C28;
    border: none;
    border-radius: 0.4em;
    width: 9vw;
    margin-left: 1.5vw;
    margin-top: 74vh;
    cursor: pointer;
    height: 7vh;
} .texto-Anterior{
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    margin-left: 2vw;
} .flecha-Anterior{
    background-image: url(../../img/vector-anterior.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1vw;
    height: 3vh;
    position: absolute;
    margin-top: -2.8vh;
    margin-left: 0.6vw;
}

.siguiente{
    background-color: #D25C28;
    border: none;
    border-radius: 0.4em;
    width: 9vw;
    margin-left: 78vw;
    margin-top: 74vh;
    cursor: pointer;
    height: 7vh;
} .texto-Siguiente{
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    margin-left: -2vw;
} .flecha-Siguiente{
    background-image: url(../../img/vector-siguiente.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1vw;
    height: 3vh;
    position: absolute;
    margin-top: -0.2vh;
    margin-left: 6.5vw;
}

.txt{
    color: #FFFFFF;
    font-family: "Josefin Sans", sans-serif;
    font-weight: normal;
    font-size: 2.3em;
    width: 75%;
    margin-left: 12vw;
    margin-top: 15vh;
    position: absolute;
} .negrita{
    font-weight: bold;
} .subrayar{
    text-decoration: underline;
}

/* Fonts: */
.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}