/*:root{
    --bg-color: rgb(71, 69, 69);
    background-color: var(--bg-color);
}
*/

html, body {
    margin: 0;
    padding: 0;
}

.candado-css, .candado-js {
    background-image: url(../img/imagen-candado.png);
    background-size: cover;
    opacity: 50%;
    width: 185px;
    height: 185px;
}

.boton-vueltaAlWireframe4-o-5 {
    width: 200px;
    height: 150px;
}

.mi-div {
    width: 100%;
    height: 10vh;
    background-color: #D9D9D9;
    position: relative;
    z-index: 0;
}

.tres-flechas {
    background-image: url(../img/tres\ líneas.png);
    width: 5vw;
    height: 7vh;
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed; /* Asegura que esté fijo en la ventana */
    top: 1.2vh;
    left: 0.3vw;
    z-index: 10;
    cursor: url('../img/cursor.png'), auto;
}

@keyframes menuDesplegable {
    0% {
        transform: translate(-100vw, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes menuOculto {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(-100vw, 0);
        opacity: 0;
    }
}

.menu {
    width: 7vw;
    height: 100vh;
    background-color: blueviolet;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-100vw, 0);
    opacity: 0;
    transition: opacity 1s linear;
    z-index: 2;
}

.mostrar {
    animation: menuDesplegable 0.6s ease forwards;
}

.ocultar {
    animation: menuOculto 1s ease forwards;
}

.divMenu {
    position: relative;
    top: 8vh;
    flex-direction: column;
    height: 100%;
    width: 100%;
    left: 2.6vw;
}

.btnMenu{
    margin: 6.5vh 0px;
    cursor: pointer;
}

.imgInicio{
    background-image: url(../img/home.png);
    width: 3vw;
    height: 5vh;
    background-size: contain;
    background-repeat: no-repeat;
    top: 27.3vh;
    position: relative;
}

.imgReglas{
    background-image: url(../img/icono\ reglas.png);
    width: 3vw;
    height: 5vh;
    background-size: contain;
    background-repeat: no-repeat;
    top: 32.5vh;
    position: relative;
}

.imgNiveles{
    background-image: url(../img/flecha.png);
    width: 3vw;
    height: 5vh;
    background-size: contain;
    background-repeat: no-repeat;
    top: 36.5vh;
    position: relative;
    cursor: pointer;
    transform: rotate(-90deg);
}

@keyframes moverFlecha {
    0% {
        transform: rotate(-90deg);
    } 100% {
        transform: rotate(0deg);
    }
}

@keyframes moverFlecha2 {
    0% {
        transform: rotate(0deg);
    } 100% {
        transform: rotate(-90deg);
    }
}

.girar {
    animation: moverFlecha 1s ease forwards;
}

.girar2 {
    animation: moverFlecha2 1s ease forwards;
}

@keyframes mostrarNiveles {
    0% {
        opacity: 0;
        bottom: 0vh;
        left: 0vw;
    } 100% {
        opacity: 1;
        bottom: 20vh;
        left: 30vw;
    }
}

@keyframes ocultarNiveles {
    0% {
        opacity: 1;
        bottom: 20vh;
        left: 30vw;
    } 100% {
        opacity: 0;
        bottom: 0vh;
        left: 0vw;
    }
}

.miNivel {
    width: 10vw;
    height: 13vh;
    position: fixed;
    opacity: 0;
}

.desplegar {
    animation: moverFlecha 1s ease forwards;
}

.oculto {
    animation: moverFlecha2 1s ease forwards;
}