.candado-css{
    background-image: url(../img/imagen-candado.png);
    background-size: cover;
    opacity: 50%;
    width: 185px;
    height: 185px;
}

.candado-js{
    background-image: url(../img/imagen-candado.png);
    background-size: cover;
    opacity: 50%;
    width: 185px;
    height: 185px;
}

.boton-vueltaAlWireframe4-o-5{
    width: 200px;
    height: 150px;
}

.mi-div{
    width: 100%;
    height: 10vh;
    background-color: #D9D9D9;
}

.tres-flechas{
    background-image: url(../img/tres\ líneas.png);
    width: 5vw;
    height: 7vh;
    background-size: contain;
    background-repeat: no-repeat;
}