.candado-css{
    background-image: url(../img/imagen-candado.png);
    background-size: cover;
    opacity: 50%;
    width: 185px;
    height: 185px;
}

.candado-js{
    background-image: url(../img/imagen-candado.png);
    background-size: cover;
    opacity: 50%;
    width: 185px;
    height: 185px;
}

.boton-vueltaAlWireframe4-o-5{
    width: 200px;
    height: 150px;
}