html, body {
    margin: 0;
    padding: 0;
    background-color: #F1CE5F;
}

.mi-div {
    width: 100%;
    height: 12vh;
    background-color: #EFBE24;
    position: relative;
    z-index: 0;
}

.caraCoudy{
    background-image: url(../../img/cara-coudy.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 10vw;
    z-index: 12;
    height: 10vh;
    margin-top: 1vh;
    margin-left: 1.5vw;
    position: absolute;
}

.image-circle {
    width: 5vw;
    height: 10vh;
    border-radius: 50%;
    background-image: url('../../img/image.png');
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border: 2px solid #ccc;
    background-color: rgb(253, 231, 231);
    right: 1.5vw;
    top: 0.7vh;
    position: absolute;
    z-index: 10;
}

#file-input {
    display: none;
}

.nombreUsuario {
    right: 8vw;
    font-family: "Josefin Sans", sans-serif;
    color: #FFFFFF;
    font-size: 2em;
    top: -2vh;
    position: absolute;
    z-index: 10;
}

.html-ti{
    position: absolute;
    z-index: 10000;
    font-family: "Josefin Sans", sans-serif;
    color: #8F7115;
    margin-left: 10vw;
    font-size: 2.6em;
    margin-top: 2.5vh;
}

.teoria{
    position: absolute;
    z-index: 10000;
    color: #8F7115;
    font-weight: bold;
    opacity: 75%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.6em;
    margin-left: 29vw;
    margin-top: 3vh;
}

.anterior{
    background-color: #D29420;
    border: none;
    border-radius: 0.4em;
    width: 9vw;
    margin-left: 3vw;
    margin-top: 6vh;
    cursor: pointer;
    position: absolute;
    height: 7vh;
} .texto-Anterior{
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    margin-left: 2vw;
} .flecha-Anterior{
    background-image: url(../../img/vector-anterior.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1vw;
    height: 3vh;
    position: absolute;
    margin-top: -2.8vh;
    margin-left: 0.6vw;
}

.siguiente{
    background-color: #D29420;
    border: none;
    border-radius: 0.4em;
    width: 9vw;
    margin-left: 88vw;
    margin-top: 6vh;
    cursor: pointer;
    position: absolute;
    height: 7vh;
} .texto-Siguiente{
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    margin-left: -2vw;
} .flecha-Siguiente{
    background-image: url(../../img/vector-siguiente.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1vw;
    height: 3vh;
    position: absolute;
    margin-top: -0.2vh;
    margin-left: 6.5vw;
} 

.description {
    color: #8F7218;
    margin-left: 5vw;
    width: 75vw;
    margin-top: 5vh;
}

.description p, .description li {
    margin-bottom: 0.3em;
    font-size: 1.3em;
    line-height: 1.5;
    font-family: "Josefin Sans", sans-serif;
} .negrita{ font-weight: bold; } .italic{ font-style: italic; } .claro{ font-style: italic; font-weight: 300; } .subrayar{ text-decoration: underline; } .alargar{ width: 87vw; }
.otro{ font-size: 0.5em; } .bajar{ margin-top: 2vh; }

/* Fonts: */
.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}